
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  
}

.item-1 {
  background-color: #FF99FF;
}
.item-2 {
  background-color: #F4B083;
}
.item-3 {
  background-color: #FFFF00;
}
.item-4 {
  background-color: #D9D9D9;
}
.heading {
  color: #4472C4;
  margin: 0px;
  padding: 0px;
}
.content {
  margin: 0px;
  padding-bottom: 20px;

}