table {
  display: flex;
}
th {
  text-align: center;
}
tr {
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  border: solid 2px blueviolet;
  cursor: pointer;
  transition: linear 0.2s
}
tr:hover {
  background-color: blue;
  color: white;
}
